@model LoginViewModel
@{
    Layout = null;
    ViewData["Title"] = "Login";
}

<!doctype html>
<html class="no-js" lang="">


<!-- Mirrored from www.radiustheme.com/demo/html/psdboss/akkhor/akkhor/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 15 Apr 2021 07:24:58 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Sample Blog | @ViewData["Title"]</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
    <!-- Normalize CSS -->
    <link rel="stylesheet" href="~/admin/css/normalize.css">
    <!-- Main CSS -->
    <link rel="stylesheet" href="~/admin/css/main.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/admin/css/bootstrap.min.css">
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="~/admin/css/all.min.css">
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="~/fonts/css/flaticon.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="~/admin/css/animate.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/admin/style.css">
    <!-- Modernize js -->
    <script src="~/admin/js/modernizr-3.6.0.min.js"></script>
</head>

<body>
    <!-- Preloader Start Here -->
    <div id="preloader"></div>
    <!-- Preloader End Here -->
    <!-- Login Page Start Here -->
    <div class="login-page-wrap">
        <div class="login-page-content">
            <div class="login-box">
                <div class="item-logo">
                    <h1>Codebits Academy</h1>
                   @* <img src="img/logo2.png" alt="logo">*@
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <form asp-area="admin" asp-controller="account" asp-action="index" asp-route-ReturnUrl="@ViewData["ReturnUrl"]" method="post" class="login-form">
                    <div class="form-group">
                        <label>Email</label>
                        <input asp-for="Email" placeholder="Enter email address" class="form-control">
                        <i class="far fa-envelope"></i>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input asp-for="Password" placeholder="Enter password" class="form-control">
                        <i class="fas fa-lock"></i>
                    </div>
                    <div class="form-group d-flex align-items-center justify-content-between">
                        <div class="form-check">
                            <input asp-for="RememberMe" class="form-check-input" id="remember-me">
                            <label for="remember-me" class="form-check-label">Remember Me</label>
                        </div>
                        <a href="#" class="forgot-btn">Forgot Password?</a>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="login-btn">Login</button>
                    </div>
                </form>
                <div class="login-social">
                    <p>or sign in with</p>
                    <ul>
                        <li><a href="#" class="bg-fb"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#" class="bg-twitter"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#" class="bg-gplus"><i class="fab fa-google-plus-g"></i></a></li>
                        <li><a href="#" class="bg-git"><i class="fab fa-github"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="sign-up">Don't have an account ? <a href="#">Signup now!</a></div>
        </div>
    </div>
    <!-- Login Page End Here -->
    <!-- jquery-->
    <script src="~/admin/js/jquery-3.3.1.min.js"></script>
    <!-- Plugins js -->
    <script src="~/admin/js/plugins.js"></script>
    <!-- Popper js -->
    <script src="~/admin/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="~/admin/js/bootstrap.min.js"></script>
    <!-- Scroll Up Js -->
    <script src="~/admin/js/jquery.scrollUp.min.js"></script>
    <!-- Custom Js -->
    <script src="~/admin/js/main.js"></script>

</body>


<!-- Mirrored from www.radiustheme.com/demo/html/psdboss/akkhor/akkhor/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 15 Apr 2021 07:25:00 GMT -->
</html>
