@model UsersIndexViewModel
@{
    ViewData["Title"] = "Users";
}

<div class="dashboard-content-one">
    <!-- Breadcubs Area Start Here -->
    <div class="breadcrumbs-area">
        <h3>Users</h3>
        <ul>
            <li>
                <a href="/admin/dashboard">Dashboard</a>
            </li>
            <li>All Users</li>
        </ul>
    </div>
    <!-- Breadcubs Area End Here -->
    <!-- Teacher Table Area Start Here -->
    <div class="card height-auto">
        <div class="card-body">
            <div class="heading-layout1">
                <div class="item-title">
                    <h3>All Users Data</h3>
                </div>
                
            </div>
            <form class="mg-b-20">
                <div class="row gutters-8">
                    <div class="col-3-xxxl col-xl-3 col-lg-3 col-12 form-group">
                        <input type="text" placeholder="Search by ID ..." class="form-control">
                    </div>
                    <div class="col-4-xxxl col-xl-4 col-lg-3 col-12 form-group">
                        <input type="text" placeholder="Search by Name ..." class="form-control">
                    </div>
                    <div class="col-4-xxxl col-xl-3 col-lg-3 col-12 form-group">
                        <input type="text" placeholder="Search by Phone ..." class="form-control">
                    </div>
                    <div class="col-1-xxxl col-xl-2 col-lg-3 col-12 form-group">
                        <button type="submit" class="fw-btn-fill btn-gradient-yellow">SEARCH</button>
                    </div>
                </div>
            </form>
            <div class="table-responsive">
                <table class="table display data-table text-nowrap">
                    <thead>
                        <tr>
                            <th>Photo</th>
                            <th>Firstname</th>
                            <th>Lastname</th>
                            <th>E-mail</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                    @if (Model.Users.Count<ApplicationUserDTO>() > 0)
                    {
                        @foreach (var user in Model.Users)
                        {

                        <tr>
                            <td class="text-center"><img src="@user.ProfilePhotoUrl" alt="student" class="img-fluid rounded-circle" width="60"></td>
                            <td>@user.Firstname</td>
                            <td>@user.Lastname</td>
                            <td>@user.Email</td>
                            <td>
                                <div class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                       aria-expanded="false">
                                        <span class="flaticon-more-button-of-three-dots"></span>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#">
                                            <i class="fas fa-times text-orange-red"></i>Close
                                        </a>
                                        <a class="dropdown-item" href="/admin/users/edit/@user.Id">
                                            <i class="fas fa-cogs text-dark-pastel-green"></i>Edit
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <i class="fas fa-redo-alt text-orange-peel"></i>Refresh
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>


                        }
                    }


                    </tbody>
                </table>
            </div>
        </div>
    </div>


</div>