@{
    ViewData["Title"] = "About";
}


<!--====== About Section Start ======-->
<section class="about-section">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 col-md-8">
                <div class="about-img">
                    <img src="~/assets/img/about-img.jpg" alt="Image">
                </div>
            </div>
            <div class="col-lg-6 col-md-10">
                <div class="about-text">
                    <h1 class="title">Why Choose Me</h1>
                    <p class="subtitle">Best Article Service enjoy your life</p>
                    <p>
                        Sed pellentesque pulvinar arcu ac congue. Sed sed est nec justo maximus blandit. Curabitur
                        lacinia, eros sit amet maximus suscipit, magna sapien veneuynatis eros, et gravida urna
                        massa ut lectus. Quisque lacinia laciunia viverra. Nullram nec est et lorem sodales ornare a
                        in sapien. In trtset urna marximus, conse ctetur iligula in, gravida erat. Nullam
                        digniifssrim hendrerit auctor. Sed varius, dolor vitae iaculis condim rtweentum, massa nisl
                        cursus sapien, gravida ultrices nisi dolor non erat.
                    </p>
                    <ul class="social-links">
                        <li><span>Follow Me :</span></li>
                        <li><a href="#"><i class="fab fa-behance"></i></a></li>
                        <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                        <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== About Section End ======-->